.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegistrationSuccess {
  color: #00875a;
}

.RegistrationErrorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RegistrationError {
  color: #ff5630;
}

.Registration {
  background-color: #454c52;
  border-radius: 10px;
  color: #fff;
  margin: 10% auto;
  padding: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.Registration_header {
  color: #fff;
  font-size: 4rem;
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Registration_form {
  width: 100%;
  padding: 0.5rem;
}

.Registration_field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.75rem;
}

.Registration_label {
  font-size: 1.5rem;
}

.Registration_input {
  font-size: 1.5rem;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-style: none;
  outline: none;
  border-radius: 4px;
}

.Registration_error {
  font-size: 1rem;
  color: #ff5630;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.Registration_select {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.Registration_button {
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #36b37e;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1rem 0;
  border-radius: 10px;
}

.Registration_button:hover,
.Registration_button:focus,
.Registration_button:active {
  background-color: #00875a;
}

.Registration_button__disabled,
.Registration_button__disabled:hover,
.Registration_button__disabled:focus,
.Registration_button__disabled:active {
  background-color: #abf5d1;
}

.RegistrationRedirect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegistrationRedirect_link:visited,
.RegistrationRedirect_link:hover,
.RegistrationRedirect_link:active {
  text-decoration: none;
  color: #fff;
}
