.Container {
  background-color: #24292e;
  min-height: 100vh;
}

.StoriesFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Loading {
  color: #f6f7f9;
  margin: 0.5rem 1rem;
}

.Error {
  color: #ff5630;
  margin: 0.5rem 1rem;
}
